<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache", false, true);</script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="http://imgcache.gtimg.cn/tencentvideo_v1/vstyle/film/v2/css/film_index.css">
	<title>{{ page.title }}</title>
</head>
<body>
{{ content }}
<script type="text/javascript">
  var dianxin_said = 48298;var dianxin_width = 960;var dianxin_height = 30;  
</script>
<script type="text/javascript" src="http://unionjs.dianxin.com/dianxin_showdy.js"  charset="utf-8" ></script>
</body>
</html>