<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="qc:admins" content="3351367242101676375" />
    <link rel="Shortcut Icon" href="http://wajiping.com/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="http://wajiping.com/favicon.ico" type="image/x-icon" />
    <!--<base href="http://wajiping.com/">-->
    {{page.css}}
	<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache", false, true);</script>
	<![endif]-->
	<title>{{ page.title }}</title>
</head>
<body>
{{ content }}
<script>
var s = document.createElement("script");
s.src = "http://tajs.qq.com/stats?sId=37456499";
document.getElementsByTagName('head')[0].appendChild(s);
</script>
<script src="../../js/jquery-1.10.2.min.js"></script>
<script src="../../js/underscore-min.js"></script>
<script src="../../js/scroll.js"></script>
<script src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101163270" ></script>
<script src="../../js/login.js"></script>
</body>
</html>