<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!--[if IE 6]>
	<script>document.execCommand("BackgroundImageCache", false, true);</script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="http://imgcache.gtimg.cn/tencentvideo_v1/vstyle/film/v2/css/film_index.css">
	<title>{{ page.title }}</title>
</head>
<body>
{{ content }}
<script>
var s = document.createElement("script");
s.src = "http://tajs.qq.com/stats?sId=37456499";
document.body.appendChild(s);
</script>
</body>
</html>